{% extends "ask_mate_1/base.html" %}

{% block title %}
    {{ question["title"] }}
{% endblock %}

{% block body %}

    <h1>{{ question["title"] }}</h1>
    <div> <a href="/question/{{ question["id"] }}/new-answer">Add New Answer</a></div>
    <p>
        <span>Like Question :</span> <span> {{ question["vote_number"] }}</span>
        <a href="/question/{{ question["id"] }}/vote_up">↑</a>
        <a href="/question/{{ question["id"] }}/vote_down">↓</a>
    </p>
    <h3>{{ question["message"] }}</h3>
    <form action="/question/{{ question['id'] }}/delete">
        <input type="submit" value="Delete Question" /><br><br>
    </form>
    <a href="/question/{{ question["id"] }}/edit">Edit question</a><br>
    <a href="/question/{{ question["id"] }}/new-answer">Add new answer</a>


        <h2><em>Answers:</em></h2>

    {% set count = namespace(value=1) %}
    {% for answer in answers %}
        <p>{{ count.value }}. {{ answer['message'] }}     {#(<a href="/answer/{{ answer['id'] }}">link</a>)</p>#}
            {% set count.value = count.value + 1 %}
            <span aligne="right">Like Comment :</span> <span> {{ answer["vote_number"] }}</span>
            <a href="/answer/{{ answer["id"] }}/vote_up">↑</a>
            <a href="/answer/{{ answer["id"] }}/vote_down">↓</a>
            <form action="/answer/{{ answer['id'] }}/delete">
            <input type="submit" value="Delete Answer" /> </form>
        </p>
    {% endfor %}
{% endblock %}