{% extends "base.html" %}
{% block title %} Adding tag {% endblock %}
{% block body %}
    <div class="subtiltle"><h2>Add Tag</h2></div>
    <div><form action="/question/{{ question_id }}/new-tag" method="post">
        <label for="new_tag">New Tag</label><br>
        <input type="text" id="new_tag" name="new_tag" maxlength="150"></a>
        <button type="submit">Send</button></form></div><br>

    <form action="/question/{{ question_id }}/select-tag">
            <label for="tag-list">Existing list:</label>
            <select name="tag_name" id="tag-list">
                {% for tag in tags %}
                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Give This Tag</button>
        </form>
{% endblock %}