{% extends "base.html" %}

{% block title %}
Comment
{% endblock %}
{% block body %}
    <div class="subtiltle">
    <h2>Comment</h2>
    </div>
    <form method="post" action={{ route }}>

        <label for="message">Comment:</label><br>
        <textarea name="message" id="message" rows="4" cols="60" required>{{ visible_data['message'] if is_question }}</textarea><br><br>

        <label for="image">Add Pics:</label><br>
         <input type="text" id="image" name="image" maxlength="150"><br><br>

        <button type="submit">Send</button>

    </form>
{% endblock %}