{% extends "base.html" %}

{% block title %}
{{ "Question" if is_question else "Answer" }}
{% endblock %}
{% block body %}
    {% if is_question %}
    <h1>Question</h1>
    {% else %}
    <h1>Answer</h1>
    {% endif %}
    <form method="post" action={{ route }}>
        {% if is_question %}
        <label for="title">Question:</label><br>
        <input type="text" id="title" name="title" maxlength="120" required value={{ visible_data['title'] }}><br><br>
        {% endif %}

        <label for="message">Explanation:</label><br>
        <textarea name="message" id="message" rows="4" cols="60" required>{{ visible_data['message'] if is_question }}</textarea><br><br>

        <label for="image">Add Pics:</label><br>
         <input type="text" id="image" name="image" maxlength="150"><br><br>

        <button type="submit">Send</button>

    </form>
{% endblock %}