{% extends "base.html" %}

{% block title %}
    Question list
{% endblock %}

{% block body %}
<h1>Questions</h1>
    <form method="post" action="{{ url_for("main_page", key=key, order=order) }}">
    <label for="key">Sort by:</label>
    <select name="key" id="key">
          <option value="title">Title</option>
          <option value="submission_time">Submission time</option>
          <option value="message">Message</option>
          <option value="view_number">Number of views</option>
          <option value="vote_number">Number of votes</option>
    </select>
    <input type="radio" id="descending" name="order" value="descending">
          <label for="descending">descending</label><br>
          <input type="radio" id="ascending" name="order" value="ascending">
          <label for="ascending">ascending</label><br>
{#    <button type="submit">To Sort pls</button>#}
    </form>
    <ol>
    {% for question in questions %}
        <li><p>{{ question['title'] }} (<a href="/question/{{ question['id'] }}">link</a>)</p></li>
    {% endfor %}
    </ol>
    <a href="/add-question">Add new question</a>
{% endblock %}

