{% extends "base.html" %}

{% block title %}
    Question list
{% endblock %}

{% block body %}
<h1>Questions</h1>
    <form method="get" action="{{ url_for("main_page") }}">
    <label for="key">Sort by:</label>
    <select name="order_by" id="key" onchange="this.form.submit()" >
        <option value="submission_time">Submission time</option>
        <option value="title">Title</option>
        <option value="message">Message</option>
        <option value="view_number">Number of views</option>
        <option value="vote_number">Number of votes</option>
    </select><br>
        <input type="radio" id="descending" name="order_direction" value="descending" onclick="this.form.submit()">
        <label for="descending">descending</label>
        <input type="radio" id="ascending" name="order_direction" value="ascending" onclick="this.form.submit()">
        <label for="ascending">ascending</label><br>
    </form>
    <ol>
    {% for question in questions %}
        <li><p>{{ question['title'] }} (<a href="/question/{{ question['id'] }}">link</a>)</p></li>
    {% endfor %}
    </ol>
    <a href="/add-question">Add new question</a>
{% endblock %}

