{% extends "base.html" %}

{% block title %} Question {% endblock %}

{% block body %}
    <div>
        {%  for data in question %}
        <h2> {{ data.title }} </h2>
            <div> <a href="/question/{{ data.id }}/edit">Edit question</a></div>
            <div> <a href="/question/{{ data.id }}/new-answer">Add New Answer</a></div>
        <h3> {{ data.message }} </h3>
        <form action="/question/{{ data.id }}/delete">
            <input type="submit" value="Delete Question" /><br><br>
        </form>
        <p> Views: {{ data.view_number }}  Votes: {{ data.vote_number }}</p>
        {% endfor %}
    </div>
    <div>
    <table>
        <tr><th>Answers</th><th>Votes</th></tr>
            {% for answer in answers %}
{#                <li> <a href="/question/{{ question.id }}">{{ data.answer.message }}</a></li>#}
                <tr><td>{{ answer.message }}</td><td>{{ answer.vote_number }}</td></tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}