{% extends "base.html" %}

{% block title %} Question {% endblock %}

{% block body %}
    <div>
        {%  for data in question %}
        <h2> {{ data.title }} </h2>
            <div> <a href="/question/{{ data.id }}/edit">Edit question</a></div>
        <h3> {{ data.message }} </h3>
            <p>
                <span>Like Question :</span> <span> {{ question.vote_number }}</span>
                <a href="/question/{{ id }}/vote_up">↑</a>
                <a href="/question/{{ id }}/vote_down">↓</a>
            </p>
        <form action="/question/{{ data.id }}/delete">
            <input type="submit" value="Delete Question" /><br><br>
        </form>
        <div><a href="/question/{{ id }}/new-comment">Add New Comment</a></div>
            <table>
                {% for q_comment in question_comments %}
                <tr>
                    <td>{{ q_comment.message }}</td>
                    <td>{{ q_comment.submission_time }}</td>
                </tr>
                <tr>
                    <td>
                        <form action="/question/{{ data.id }}/new-comment">
                            <input type="submit" value="Delete Comment" /><br><br>
                        </form>
                    </td>
                </tr>


                {% endfor %}
            </table>
        <p> Views: {{ data.view_number }}  Votes: {{ data.vote_number }} </p>
        {% endfor %}
    </div>
    <div>
    <table>
        <tr><th>Answers</th><th>Votes</th></tr>
            {% for answer in answers %}
{#                <li> <a href="/question/{{ question.id }}">{{ data.answer.message }}</a></li>#}
                <tr>
                    <td>{{ answer.message }}</td>
                    <td>{{ answer.vote_number }} <a href="/answer/{{ answer.id }}/vote_up">↑</a> <a href="/answer/{{ answer.id }}/vote_down">↓</a></td>
                </tr>
                {% for a_comment in answers_comments %}
                    {% if answer.id == a_comment.answer_id %}
                <tr>
                    <td>{{ a_comment.message }}</td>
                    <td>{{ a_comment.submission_time }}</td>
                </tr>

                    {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        {% if answer.image %}
                        <img src="/static/{{ answer.image }}">
                        {% endif %}
                        <form action="/answer/{{ answer.id }}/edit">
                            <input type="submit" value="Edit Answer" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/answer/{{ answer.id }}/delete">
                            <input type="submit" value="Delete Answer" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><a href="/answer/{{ id }}/new-comment">Add New Comment</a></div>
                    </td>
                </tr>

            {% endfor %}
    </table>
    </div>
    <div> <a href="/question/{{ id }}/new-answer">Add New Answer</a></div>
{% endblock %}