{% extends "base.html" %}

{% block title %} Question {% endblock %}

{% block body %}
    <div>
        {%  for data in question %}
        <h2> {{ data.title }} </h2>
            <div> <a href="/question/{{ data.id }}/edit">Edit question</a></div>
        <h3> {{ data.message }} </h3>
            <p>
        <span>Like Question :</span> <span> {{ question.vote_number }}</span>
        <a href="/question/{{ id }}/vote_up">↑</a>
        <a href="/question/{{ id }}/vote_down">↓</a>
    </p>
        <form action="/question/{{ data.id }}/delete">
            <input type="submit" value="Delete Question" /><br><br>
        </form>
        <p> Views: {{ data.view_number }}  Votes: {{ data.vote_number }}</p>
        {% endfor %}
    </div>
    <div>
    <table>
        <tr><th>Answers</th><th>Votes</th></tr>
            {% for answer in answers %}
{#                <li> <a href="/question/{{ question.id }}">{{ data.answer.message }}</a></li>#}
                <tr>
                    <td>{{ answer.message }}</td>
                    <td>{{ answer.vote_number }}</td>
                </tr>
                <tr>
                    <td>
                        <form action="/answer/{{ answer.id }}/edit">
                            <input type="submit" value="Edit Answer" />
                        </form>
                        <form action="/answer/{{ answer.id }}/delete">
                            <input type="submit" value="Delete Answer" />
                        </form>
                    </td>
                </tr>

            {% endfor %}
    </table>
    </div>
    <div> <a href="/question/{{ id }}/new-answer">Add New Answer</a></div>
{% endblock %}