{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block body %}
    {% set is_duplicate = namespace(value="") %}
    <dl>
    {% for content in questions_n_answers %}
            <dt>{% if content.title != is_duplicate.value %}
                    {% set is_duplicate.value = content.title %}
                <a href="question/{{ content.id }}">
                    {{ content.title.replace(keyword, highlight) |safe }}

                    {{ content.title }}</a></dt>
                         {#{{ "content.title" : Markup(content.title.replace("{ search }", "<mark>template</mark>")) }}</a>#}
                {% if content.message %}<dd><i>{{ content.message.replace(keyword, highlight) |safe }}</i></dd>{% endif %}
                {% else %}
                    <dd><i>{{ content.message.replace(keyword, highlight) |safe }}</i></dd>
                {% endif %}
    {% endfor %}
    </dl>

{% endblock %}

