{% extends "base.html" %}

{% block title %} User page {% endblock %}

{% block body %}
    <div class="subtiltle">
    <h2>{{ name }} page</h2>
    </div>
    <div>
        <h3>Questions</h3>
        <ol>
            {% for question in questions %}
                    <li><a href="/question/{{ question.id }}">{{ question.title }}</a></li>
            {% endfor %}<ol></ol>
        </ol>
    </div><br>
    <div>
        <h3>Answers</h3>
        <ol>
            {% for answer in answers %}
                    <li><a href="/question/{{ answer.question_id }}">{{ answer.message }}</a></li>
            {% endfor %}
        </ol>
    </div><br>
    <div>
        <h3>Comments</h3>
        <ol>
            {% for comment in comments %}
                <li><a href='/what-type-of-comment/{{ comment.question_id }}/{{ comment.answer_id }}'>{{ comment.message }}</a></li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
