{% extends "base.html" %}
{% block title %} User page {% endblock %}

{% block body %}
    <div class="subtiltle">
    <h2>Users</h2>
    </div>

<table style="width:100%">
    <th>User ID</th>
    <th>Username</th>
    <th>Registration Date</th>
    <th>How many Questions asked</th>
    <th>How many Answer made</th>
    <th>How many comment made</th>
    <th>Reputation</th>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="/user/{{ user.id }}">{{ user.name }}</a></td>
            <td>{{ user.registration_date }}</td>
            <td>{{ user.question_number }}</td>
            <td>{{ user.answer_number }}</td>
            <td>{{ user.comment_number }}</td>
            <td>{{ user.reputation }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
